APP_NAME: ToserbaGo
LOG_LEVEL: debug
LOG_FORMAT: text

DB_NAME: toserba
DB_HOST: localhost
DB_PORT: 5432
DB_USER: postgres
DB_PASSWORD: postgres
DB_POOL: 3
DB_MAX_IDLE_CONNECTIONS: 10
DB_CONNECTION_MAX_IDLE_TIME: 30s
DB_CONNECTION_MAX_LIFE_TIME: 5m
DB_MIGRATION_PATH: ./db/migrations

BASH_PATH: /bin/bash